.card-deck {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  min-height: 4rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
}
.card a {
  color: #333; 
  text-decoration: none;
}
.card:hover .card-image img {
  width: 160%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 150%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);

  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}

.card-body {
  padding: 15px 20px;
  box-sizing: border-box;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card-description {
  text-align: left;
  color: #777;
}
