<?php
use Omeka\Api\Exception\NotFoundException;

$this->headLink()->prependStylesheet($this->assetUrl('css/card.css'));
$translate = $this->plugin('translate');

$assets = $this->api()->search('assets', [], ['responseContent' => 'resource'])->getContent();
function &getAssetByName($assets, string $name) {
    foreach ($assets as $asset) {
        if (strcmp($name, $asset->name()) === 0) return $asset;
    }
    return null;
}
?>
<div class='card-deck'>
        <?php $iterate = function ($pages) use (&$iterate, $translate, $assets) {
            foreach ($pages as $page) {
                $pageName = $page['text'];
                $pageLink = $page['data']['url'];
                $pageDescription = "";
                if (empty($pageLink)) {
                    echo '<li>' . $translate('[Missing Page]') . '</li>';
                } else {
                    $asset =& getAssetByName($assets, $pageName);
                    if ($asset) {
                        $imageSource = $asset->assetUrl();
                        $imageDescription = $asset->altText();
                    } else {
                        $imageSource = 'https://images.pexels.com/photos/63901/pexels-photo-63901.jpeg?auto=compress&cs=tinysrgb&w=800';
                        $imageDescription = "Missing thumbnail";
                    }

                    echo '
<div class="card">
  <a href="' . $pageLink . '">
  <div class="card-image">
    <img src="' . $imageSource . '" alt="' . $imageDescription . '" />
  </div>
  <div class="card-body">
    <div class="card-title">
      <h3>' . $pageName . '</h3>
    </div>
    <div class="card-description">
      <p>' . $pageDescription . '</p>
    </div>
  </div>
  </a>
</div>'; 
                }
            }
        };

        $iterate($pageList); ?>
</div>
